beautifulsoup4
brotli >= 1.1.0
colorthief
dateparser >= 1.1.4
emoji
keyring >= 21.6.0
lxml >= 5.2.1
natsort
piexif
pillow >= 10.3.0
pillow-heif >= 0.16.0
PyGObject
python_magic
rarfile
requests >= 2.31.0
Unidecode

# Optional dependencies
-r requirements-optional.txt
