# SPDX-FileCopyrightText: 2019-2025 Valéry Febvre
# SPDX-License-Identifier: GPL-3.0-or-later
# Author: Valéry Febvre <vfebvre@easter-eggs.com>

beautifulsoup4
brotli >= 1.1.0
modern_colorthief
dateparser >= 1.1.6
emoji
keyring >= 21.6.0
lxml >= 5.2.1
natsort
piexif
pillow >= 11.3.0
PyGObject
python_magic
rarfile
requests >= 2.32.2
Unidecode

# Optional dependencies
-r requirements-optional.txt
